* {
  margin:0;
  box-sizing: border-box;
  font-family: 'Encode Sans Condensed', sans-serif;
}

h1, h2, h3, h4, p {
	margin-bottom:15px;
}

a {
	color:  #154360;
}

a:hover {
	color: #708090;
}

.navbar li{
	display: inline;
	margin-right: 10px;
}

.navbar ul{
	background: #283044;
	padding: 10px 20px 10px 20px;
	color: #E5E9EC;
	margin: 0px;
}

.navbar a{
	color:white;
	
}


.globalfooter{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	background: #283044;
	padding: 10px 20px 10px 20px;
	color: #E5E9EC;
	margin: 0px;
	text-align: center;
	font-size: 0.8em;
}

.globalfooter a {
	color: whitesmoke;
}
	
.logo {
  padding: 20px 20px;
}
@media screen and (max-width:360px){
	.logo {padding: 0;
    font-size: 0.6em;}
}

.wrapper {
	max-width:1024px;
	margin:auto;
	padding: 0 40px 80px 20px;
   height: 300px;
}

.nav2 {
  float:right;
 margin-top: 20px;
}

.nav2 li {
     list-style:none;
    display:inline;
  padding: 5px 10px;    
}

@media screen and (max-width:360px) {
.nav2 {
  float:right;
 margin: 20px 0;
}
}

.main {
  width:74%;
  background-image: url("https://scontent-lht6-1.cdninstagram.com/t51.2885-15/e35/18012138_1687723807912373_1358498941703815168_n.jpg");
  background-size: cover;
  background-position: center;
  margin: 20px 0 80px 40px;
  
  box-shadow:  2px 2px 2px #888888;

}
@media screen and (max-width: 768px) {

.main {
	margin: auto;
	width: 80%;
	margin-bottom: 100px;
}}

.front-main  {
	  height:500px;
	  }
	 
@media screen and (max-width: 768px) {

.front-main  {
	  height:300px;
	  margin-bottom:0;
}}

@media screen and (max-height: 680px) {

.front-main {
	    height: 380px;
}}

.front-main h1{
	    font-size: 7em;
		margin-left: -20px;
		padding-top: 20px;
}

@media screen and (max-width: 865px) {

.front-main h1{
	    font-size: 5em;
}}



.front-main p{
    font-size: 3em;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 768px) {

.front-main p{
    font-size: 2em;
}}


@media screen and (max-width: 480px) {

.front-main p{
    display:none;
}}

    


 .sidebar {
	 float:right;
     width:20%;
     margin-bottom:50px;
}

@media screen and (max-width: 768px) {

.sidebar {
	float: none;
	width: 100%;
}}
   

.sidebar ul {
	    list-style: none;
    border-bottom: 1px solid;
    padding: 20px 0;
}

.sidebar li a{
		text-decoration: none;
		font-size: 1.1em;
		    
}

.menuback {
	background: rgba(21,67,96, 0.1);
	padding: 10px;
    margin-bottom: 7px;
}


	
.enter-btn h3{
	    text-align: center;
		padding-top: 10%;
		font-size: 2em;
    
}

.enter-btn h3 a{
	    text-decoration:none;
		color: white;
}

.enter-btn h3 a:hover {
	
} 

.enter-btn {
	margin: auto;
    width: 150px;
    }

.enter-btn:hover {
    -moz-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    transform: translate(5px, 0px)
}

.in-use-link {
	color: #708090;
	}

.intro {
	font-weight: 200;
    font-style: italic;
	font-size: 1.3m;
}

.socialfront {
	float:left;
	margin-top: -160px;
	
}

@media screen and (max-width:768px) {
.socialfront {
	float:none;
	margin-top: 20px;
    margin-bottom: 80px;
	
}
}

.socialfront img{
	display:block;	
	margin-bottom: 10px;
}

@media screen and (max-width:768px) {
.socialfront img{
	display:inline;	
	padding:5px;
	
}
}

.social {
    float: left;
    margin-top: 3%;
    margin-left: -5px;
}

.social img{
    display:block;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
.social {
        float: right;
    margin-top: -20px;
}	
.social img{
        display:inline;
}}

.home-btn h2{
	 text-align: right;
     padding:10px;
	 margin: 0;
 }
 
@media screen and (max-width:768px) {
.home-btn h2{	 
		text-align:left;
     float: right;
    margin-top: -50px;
 }}
 

/**socialcolors CAD4E0**/

/**Explore style**/
#explore-intro  {
	font-size:1.15em;
}

.sidebar h2 {
	font-size: 1.3em;
}

.front-cover {
    min-height: 400px;
	overflow:hidden;
	margin-bottom: 30px;
}

#explore-intro {
    padding: 20px 20px 0 20px;
    text-align: left;
}

@media screen and (max-width: 768px) {
#explore-intro {
    text-align: center;
}}

.grid a img { 
  -webkit-transition: all 0.5s ease-in-out; 
     -moz-transition: all 0.5s ease-in-out; 
      -ms-transition: all 0.5s ease-in-out; 
       -o-transition: all 0.5s ease-in-out; 
          transition: all 0.5s ease-in-out;

}

.grid a:hover img, .grid a:focus img { 
	-webkit-transform: scale(1.1);  /* Saf3.1+, Chrome */
     -moz-transform: scale(1.1);  /* FF3.5+ */
      -ms-transform: scale(1.1);  /* IE9 */
       -o-transform: scale(1.1);  /* Opera 10.5+ */
          transform: scale(1.1);
}

.responsive-image {
  max-width: 100%;
}

.cell {
padding: 10px;
}

.cell img {
  display: block;
  border:white 1px solid;
    }


.cell .text {
	
	position: relative;
    width: 80%;
    bottom: 60px;
    margin-left: 10%;
	visibility:hidden;
	color:white;
    padding: 10px;
    text-align: center;
}

.cell:hover .text {
visibility:visible;
background:  rgba(0,0,0,0.5);
}

.container1 {
	overflow: hidden;
	}
	
/**lima page**/

.sidebarhidden2 {
	display:none;
}

.sidebarhidden1 {
	text-align:right;
}

@media (max-width:768px) {
	
.sidebarhidden1 {
	display:none;
}

.sidebarhidden2  {
	text-align: left;
    float: none;
	margin:auto;
    margin-top: 0;
    margin-bottom: 100px;
	width:100%;
	display:block;
}
.sidebarhidden2  ul{
	list-style:none;
}
.exploreitem {
	background-color: rgba(21,67,96, 0.1);
    padding: 5px;
    margin: 2px;
}

.sidebarhidden2 h3 {
	display:none;
}

.main-lima {
	margin-bottom:30px;
}
}

.stay-table {
	width: 100%;
}

.stay-table th{
	border: 1px black solid;
	padding:2px;
}

.stay-table td{
	border: 1px black dashed;
	padding:2px;
	text-align:center;
}


	
/**Tips**/

#tips-cover {
		padding:20px;
		background: rgba(255,255,255,0.8);
		text-align:left;
}

#tips-cover img {
	max-width:100%;
}

.tips-list li{
	list-style-position: inside;
	}

 .tips-list {
	margin-bottom: 20px;
	}   


	
	/**Cuisine style**/
#cuisine-cover {
		padding: 20px;
		background: rgba(255,255,255,0.8);
}	

#cuisine-cover h2, #cuisine-cover h3{
			text-align: center;
}	

.slide {
	max-width:90%;
	min-height: 300px;
	margin:auto;
	border: 1px white solid;
	margin-bottom: 20px;
}

#slide1back {
	background-image: url("https://i.imgur.com/kmvueUZ.jpg");
	background-size:cover;
	background-position: 20% 55%;  
}


#slide2back {
  background: url("https://i.imgur.com/a3wIb4x.jpg");
  background-size:cover;
  background-position: 50% 55%;  
}

#slide3back {
  background: url("https://i.imgur.com/2eILLkB.jpg");
  background-size:cover;
  background-position: 50% 55%;  
}

#slide4back {
  background: url("https://i.imgur.com/iaUDf5m.jpg");
  background-size:cover;
  background-position: 50% 60%;  
}

#slide5back {
  background: url("https://i.imgur.com/xNjk02c.jpg");
  background-size:cover;
  background-position: 50% 50%;  
}

#slide6back {
  background: url("https://i.imgur.com/VDtaQnp.jpg");
  background-size:cover;
  background-position: 50% 55%;  
}

.slidecap {position: relative;
    top: 0;
  max-width: 35%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
color:white;
padding: 5%; 
}

@media screen and (max-width:640px) {
	.slidecap {
  max-width: 55%;
}}

@media screen and (max-width:480px) {
.slidecap {
  max-width: 100%;
}}

.slidecap h4 {
  color: #FFE761;
}

.slidecap a {
  color: #FFE761;
}
.slidecap a:hover{
  color: #FFCC00;
}

	
	
/**Responsive View port Styling for gallery**/



@media screen and (min-width: 600px){

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.cell {
    width:50%;
	max-height:290px;
	overflow:hidden;
}
  
}

@media screen and (min-width: 1000px){
  .cell {
    width:calc (100%/3);
  }
 
}
.cell {
      margin: 1rem 1rem 0 1rem;
  
}

@media screen and (min-width: 600px){
  .cell {
    width: calc(50% - 2rem);
  }
}
@media screen and (min-width: 1000px){
  .cell{
    width: calc(33.3333% - 2rem);
  }
}
